* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Poppins;

    font-size: 16px;
    background-color: white;
    color: black;
    line-height: 1.6;
    max-width: 1440px;
    margin: auto;
}

header {
    background-color: #34495e;
    color: white;

    padding: 20px 30px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 50px;
}

.highlight {
    color: #03b5a4;
    font-weight: bold; 
}

.right ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.right ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    &:hover {
        color: #03b5a4;
    }
}

section {
    padding: 50px 30px;
}

#Acceuil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px 50px 100px;
    gap: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 22px;
    gap: 50px;
}

.content a {
    background-color: #03b5a4;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 5px #14f4dd;
        background-color: #03c7b4;
    }
}

.yuma {
    color: #03b5a4;
}

.image {
    width: 350px; 
    height: auto;
}

#Apropos, #Mescompetences {
    background-color: #f5f5f5;
}

#Apropos {
    padding: 50px;
}

#Apropos h1 {
    text-align: center;
    color: #03b5a4;
    margin: 10px;
}

.desc-cv-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    gap: 100px;
}

.description {
    font-size: 16px;
    gap: 30px;
}

.description a {
    background-color: #03b5a4;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, padding 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 0 5px #14f4dd;
        background-color: #34495e;
        color: white;
        padding: 5px 29px;
    }
}

.desc-cv-img img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 4px solid #03b5a4;
}

#Monprojet {
    background-color: #ffffff;
    text-align: center;
    padding: 50px;
}

.projet {
    color: #03b5a4;
    margin-bottom: 30px;
}

.projects-container {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    align-items: center;
    margin: 70px 60px;
}

.project-card {
    background-color: #f5f5f5; 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100%;
    width: 100%;
}

.project-description {
    margin: 15px 0 20px 0;
}

.project-tags {
    margin-bottom: 15px;
    color: rgb(111, 111, 111);
    font-size: 15px;
}

.view-button {
    background-color: #03b5a4; 
    color: white;
    border-radius: 5px;
    padding: 7px 40px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.view-button:hover {
    background-color: #028a81;
} 
    
#Mescompetences {
    background-color: #f5f5f5;
}

.competence {
    text-align: center;
    color: #03b5a4;
    margin-top: 20px;
}
       
.skills-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 0 100px;
    padding: 60px 0;
}

.skills-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-box h2 {
    margin-bottom: 15px;
}

.skill {
    margin-bottom: 15px;
}

.skill-name {
    font-weight: normal;
    margin-bottom: 5px;
    text-align: left;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.progress {
    height: 100%;
    background-color: #03b5a4;
    border-radius: 5px;
}

#contact {
    background-color: #1a1a1a;
    text-align: center;
    color: white;
}
   
.contain {
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
  
form {
    display: flex;
    flex-direction: column;
    background-color: #222;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #03b5a4;
    align-items: center;

    min-width: 50%;
}
   
.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}
     
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}
        
textarea {
    height: 100px;
}

::placeholder {
    color: rgb(193, 193, 193);
    font-size: 13px;
}
        
form button {
    background-color: #03b5a4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    &:hover {
        background-color: #02a093;
    }
}
    
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    font-size: 15px;
}
.droite{
    text-align: left;
}
.gauche{
    text-align: right;
}
